*{
    padding: 0;
    margin: 0;
}
.second{
    background-color:  rgb(26, 190, 182);
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 120px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    user-select: none;
}
.logo{
    width: 100px;
    height: auto;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 100px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px ;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(42, 224, 248);
    border-radius: 2px;
}